@media (prefers-color-scheme: dark) {

    //CSS
    :root {
        --bg-primary: #050505;


        --color-primary: #ffffff;

        --semi-transparent-bg: rgba(0, 0, 0, 70%);



        --scrollbar-track-bg-color: black;
        --scrollbar-thumb-bg-color: #ababab;
        --scrollbar-thumb-bg-color--hover: #8a8a8a;
        --scrollbar-thumb-bg-color--active: #4f4f4f;

        --selection-bg: #838383;
        --selection-color: white;

        --selection-bg-color: orange;
        --selection-color: black;

    }

    ::backdrop {
        --backdrop-bg-color: rgba(0, 0, 0, 0.5);

        --scrollbar-track-bg-color: black;

        --scrollbar-thumb-bg-color: #ababab;
        --scrollbar-thumb-bg-color--hover: #8a8a8a;
        --scrollbar-thumb-bg-color--active: #4f4f4f;
    }
}