:root {
    --bg-primary: #FAFAFA;


    --color-primary: #000000;


    --semi-transparent-bg: rgba(255, 255, 255, 70%);

    --border-color: #DBDBDB;

    --scrollbar-track-bg-color: white;

    --scrollbar-thumb-bg-color: #545454;
    --scrollbar-thumb-bg-color--hover: #757575;
    --scrollbar-thumb-bg-color--active: #b0b0b0;

    --selection-bg-color: blue;
    --selection-color: white;

}

::backdrop {
    --backdrop-bg-color: rgba(255, 255, 255, 0.5);

    --scrollbar-track-bg-color: white;

    --scrollbar-thumb-bg-color: #545454;
    --scrollbar-thumb-bg-color--hover: #757575;
    --scrollbar-thumb-bg-color--active: #b0b0b0;
}