@use "../utils/" as *;

.index {

    &__canvas {
        position: absolute;

        width: 100%;
        height: 100%;
    }

    &__effect {
        min-height: 75dvh;
        position: relative;
    }

    &__web-component {
        position: absolute;

        height: 100%;
        width: 100%;
    }
}